<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="accounts">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Contas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="monthly-flow">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Fluxo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="debts">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Dívidas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="simulator">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Simulador</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
